{% extends 'base.html' %}
{% block content %}

<h1>Mrs. McAllister</h1>
<img class="center_img" src="./static/images/old_face.png" />
</br>

<h3>Meet the teacher:</h3>
<p>Welcome to 6th grade! I am Mrs. McAllister and I am so excited to be your 6th grade teacher this year. 
    This is my 5th year teaching. I am married with twin boys that are 10 years old. We love hiking , 
    playing video games and hanging out with all our animals.  We have two pups, who are Lily and Pirhana 
    who are with us all of the time. I enjoy spending my free time playing video games with my boys or crafting. 
    I look forward to meeting you and to having an amazing year!</p>
</br>

<h3>My Favorites:</h3>
<p>
    Food: Hamburgers and mac and cheese
    Hobby: Crafting
    Drink: Coca-Cola
    Season: Summer
    Subject: Math
    Color: Red
    Book: Harry Potter Series
    Show: Spongebob Square Pants
    Games: Mario, Pikmin, Animal crossing, Fortnite, Plants vs Zombies
    </p>
</br>

<h3>Education:</h3>
<p> 
    I went to Boise State University in Idaho and graduated in 2020 with my bachelors in elementary education 
    with a middle school math endorsement.
</p>
</br>

<h3>Fun Facts:</h3>
<p>
    <ul>
        <li>I love Coca-Cola (a little too much)</li>
        <li>I love to bake</li>
        <li>I have 4 pets</li>
        <ul>
            <li class="pets">2 dogs</li>
            <li class="pets">2 bearded dragons.</li>
        </ul>
        <li>And I love Coca-Cola</li>
    </ul>
</p>
{% endblock %}
