{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h1>Mrs. McAllister</h1>
    <img class="center_img" src="./static/images/old_face.png" />
</br>
    <h3>Meet The Teacher:</h3>
    <p style="text-align: justify;">
        Welcome to 6th grade! I am Mrs. McAllister and I am so excited to be your 6th grade teacher this year. 
        This is my 5th year teaching. I am married with twin boys that are 10 years old. We love hiking , 
        playing video games and hanging out with all our animals.  We have two pups, who are Lily and Pirhana 
        who are with us all of the time. I enjoy spending my free time playing video games with my boys or crafting. 
        I look forward to meeting you and to having an amazing year!</p>
    </br>

    <h3>My Favorites:</h3>
    <p>
        Food: Hamburgers and mac and cheese <br/>
        Hobby: Crafting <br/>
        Drink: Coca-Cola <br/>
        Season: Summer <br/>
        Subject: Math <br/>
        Color: <span style="color: red;">Red</span> <br/>
        Book: Harry Potter Series <br/>
        Show: Spongebob Square Pants <br/>
        Games: Mario, Pikmin, Animal crossing, Fortnite, Plants vs Zombies <br/>
        </p>
    </br>

    <h3 >Education:</h3>
    <p style="text-align: justify;"> 
        I went to Boise State University in Idaho and graduated in 2020 with my bachelors in elementary education 
        with a middle school math endorsement.
    </p>
    </br>

    <h3>Fun Facts:</h3>
    <p>
            I love Coca-Cola (maybe a little too much)
            <br/>I love to bake
            <br/>I have 2 dogs
            <br/>I have 2 bearded dragons
            <br/>And I love Coca-Cola!
    </p>
    <img style="max-width: 50%" class="right_img" src="./static/images/image-removebg-preview.png" />
</div>
{% endblock %}
