{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Math Videos</h2>
    </br><a href="link_to_worksheet">Math Worksheets</a>
    </br><a href="link_to_video">Helpful Videos</a>
    </br><a href="link_to_article">Articles on Math Concepts</a>
    <br/><br/><br/><br/><br/><br/>
    <h3>Alan Turing</h3>
    <i>"Those who can image anything, can create..."</i>
    <br/>
        <img style="max-width: 50%" src="./static/images/alan_turing.png">
            
    <div style="margin-top: 10%;" class="unit-title">
        <p>Unit 1</p>
    </div>
    <hr/>
    <h3>Problem Solving Multi-Digit Multiplication</h3>
    <iframe width="420" height="315" 
            src="https://www.youtube.com/embed/KdrLqOgVioM" 
            frameborder="0" 
            allowfullscreen>
    </iframe>
    <h3>Standard Algorithm Long Division</h3>
    <iframe width="560" height="315" 
        src="https://www.youtube.com/embed/aZs_9aDv9LI?si=rCkI1Y_WGzNec_to" 
        frameborder="0" allowfullscreen style="margin-bottom: 10%;">
    </iframe>
   
    <div class="unit-title">
        <p>Unit 2</p>
    </div>
    <hr/>
    <h3>Subtracting Mixed Fractions</h3>
    <iframe width="560" height="315" 
            src="https://www.youtube.com/embed/qtMYR7X_n-M?si=KNIsMmup9gWNQ9by" 
            frameborder="0" 
            allowfullscreen>
    </iframe>

</div>
{% endblock %}
