{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Science</h2>
    </br><a href="link_to_worksheet">Science Worksheets</a>
    </br><a href="link_to_video">Helpful Videos</a>
    </br><a href="link_to_article">Articles on Science Concepts</a>
    <br/><br/><br/><br/><br/><br/>
    <h3>Albert Einstein</h3>
    <i>"Education is not the learning of facts but the traing of the mind to think."</i>
    <br/>
        <img style="max-width: 50%" src="./static/images/albert-einstein.jpg">
               
    <div style="margin-top: 10%;" class="unit-title">
        <p>Unit 1</p>
    </div>
    <hr/>
    <h3>Bill Nye The Science Guy on The Atmosphere</h3>
    <iframe src="https://www.youtube.com/embed/gGNxYtT_36I?si=Y-QfbpDF4aaO7ZwM" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    </iframe>
    <h3>Earth's Spheres: Hydrosphere, Geosphere, Biosphere, Atmosphere</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/FdiiLhlPsn8?si=fUvg-kAoLjW1y1hd" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen
        style="margin-bottom: 10%;">
    </iframe>

    <div class="unit-title">
        <p>Unit 2</p>
    </div>
    <hr/>
    <h3>Fossils</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/RWbb2kTIIbI?si=zkN4U_bl9Svohg6Z" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen
        style="margin-bottom: 10%;">
    </iframe>

    <br/>
    <div class="unit-title">
        <p>Unit 3</p>
    </div>
    <hr/>
    <h3>The Big Bang</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/NilPobb_r1k?si=rWRGh2tY1MsW_Ywv" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen
        style="margin-bottom: 10%;">
    </iframe>
</div>
{% endblock %}
