{% extends 'base.html' %}

{% block content %}
<h2>Science</h2>
<ul>
    <li><a href="link_to_worksheet">Science Worksheets</a></li>
    <li><a href="link_to_video">Helpful Videos</a></li>
    <li><a href="link_to_article">Articles on Science Concepts</a></li>
</ul>

<br/>


<div class="unit-title">
    <p>Unit 1</p>
</div>
<h3>
    Problem Solving Multi-Digit Multiplication 
</h3>

<iframe width="560" height="315" src="https://www.youtube.com/embed/gGNxYtT_36I?si=Y-QfbpDF4aaO7ZwM" 
    title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
</iframe>


<h3>
    Standard Algorithm Long Division 
</h3>


<iframe width="560" height="315" 
    src="https://www.youtube.com/embed/aZs_9aDv9LI?si=rCkI1Y_WGzNec_to" 
    title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
</iframe>


<br/>
<div class="unit-title">
    <p>Unit 2</p>
</div>
<h3>
    Subtracting Mixed Fractions
</h3>
<iframe width="560" height="315" 
        src="https://www.youtube.com/embed/qtMYR7X_n-M?si=KNIsMmup9gWNQ9by" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen>
</iframe>

<br/>
<div class="unit-title">
    <p>Unit 3</p>
</div>
<h3>
    Subtracting Mixed Fractions
</h3>
<iframe width="560" height="315" 
        src="https://www.youtube.com/embed/qtMYR7X_n-M?si=KNIsMmup9gWNQ9by" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen>
</iframe>

{% endblock %}
